* text=auto

*.py text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.bicep text eol=lf linguist-language=Bicep

*.ehpk binary
*.wav binary
*.png binary

uv.lock text -merge
